:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;

    color: $text-color;
    background: linear-gradient(-180deg, rgba(80,229,236,0.70) 0%, rgba(14,213,140,0.50) 100%);
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
