/*
 * colors
 */
$accent-color: #F8A46B;
$background: linear-gradient(-180deg, rgba(80,229,236,1) 0%, rgba(14,213,140,1) 100%);
$button-hover-color: #FFF;
$button-color: #E4FBFC;
$button-text-color: #9B9B9B;
$text-color: #FFF;

/*
 * media queries
 */
 $large-mobile: 'min-width: 600px';
 $tablet: 'min-width: 800px';
 $desktop: 'min-width: 1200px';
