/*
 * colors
 */
$accent-color: #F8A46B;
$active-color: #1CA7B3;
$background: linear-gradient(-180deg, #63F4FB 0%, #0ed58c 100%);
$button-hover-color: #FFF;
$button-color: #E4FBFC;
$button-text-color: #9B9B9B;
$text-color: #FFF;

/*
 * media queries
 */
 $large-mobile: 'min-width: 600px';
 $tablet: 'min-width: 800px';
 $desktop: 'min-width: 1200px';
