@import './variables';

.toggle-bar {
  display: flex;
  height: 4.5rem;

  button {
    flex: 50%;
    border: none;
    background-color: $button-hover-color;
    color: $button-text-color;

    &:hover {
      background-color: $button-hover-color;
    }
  }

  .active {
    border-top: 6px solid #1CA7B3;
  }

  .inactive {
    border-top: 6px solid transparent;
    background-color: $button-color;
  }
}
