@import './variables';
$height: 4.5rem;
$desktop-height: 5.2rem;

.todo {
  display: flex;
  list-style: none;
  height: $height;
  margin: 0;
  padding: 0 1rem;
  border-top: 1px solid rgba(#fff, 0.5);
  background-color: rgba(#000, 0.1);
  cursor: move;

  &:last-child {
    border-bottom: 1px solid rgba(#fff, 0.5);
  }
  @media ($tablet) {
    background: transparent;
    height: $desktop-height;
  }
}

.completed {
  composes: todo;
  background-color: rgba(#000, 0.2);
  color: rgba(#fff, 0.5);

  .complete {
    background-image: url('components/Todo/complete.svg');
  }
}

.label {
  flex: 1 0 auto;
  font-size: 1.5rem;
  line-height: $height;
  vertical-align: middle;

  @media ($tablet) {
    font-size: 1.6rem;
    line-height: $desktop-height;
  }
}

.button {
  flex: 0 0 3.2rem;
  border: none;
  padding: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  @media ($tablet) {
    margin-top: 2px;
  }
}

.complete {
  composes: button;
  background-image: url('components/Todo/incomplete.svg');
  margin-right: 2rem;

  @media ($tablet) {
    margin-right: 3rem;
  }
}

.remove {
  composes: button;
  background-image: url('components/Todo/garbage.svg');
  background-size: 1.3rem 1.5rem;
}
