@import './variables';
$height: 45px;
$desktop-height: 52px;

.todo {
  display: flex;
  list-style: none;
  height: $height;
  margin: 0;
  padding: 0 10px;
  border-top: 1px solid rgba(#fff, 0.5);
  background-color: rgba(#000, 0.1);
  cursor: move;

  &:last-child {
    border-bottom: 1px solid rgba(#fff, 0.5);
  }
  @media ($tablet) {
    background: transparent;
    height: $desktop-height;
  }
}

.completed {
  composes: todo;
  background-color: rgba(#000, 0.2);
  color: rgba(#fff, 0.5);

  .complete {
    background-image: url('components/Todo/complete.svg');
  }
}

.label {
  flex: 1 0 auto;
  font-size: 15px;
  line-height: $height;
  vertical-align: middle;
  @media ($tablet) {
    font-size: 16px;
    line-height: $desktop-height;
  }
}

.button {
  flex: 0 0 32px;
  border: none;
  width: 32px;
  height: $height;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  @media ($tablet) {
    margin-top: 2px;
  }
}

.complete {
  composes: button;
  background-image: url('components/Todo/incomplete.svg');
  margin-right: 20px;
  @media ($tablet) {
    margin-right: 30px;
  }
}

.remove {
  composes: button;
  background-image: url('components/Todo/garbage.svg');
  background-size: 13px 15px;
}
