.startView {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  .inner {
    margin-bottom: 100px;

    .heading {
      color: rgba(#1CA7B3, 0.66);
      text-align: center;
      margin: 0;
    }
  }
}
