@import './variables';
.add-todo {
  position: relative;
  
  @media ($large-mobile) {
    max-width: 320px;
    margin: 0 auto;
  }

  .text-input {
    background-color: rgba(#000, 0.1);
    height: 45px;
    line-height: 45px;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
  }

  .add-todo-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(components/AddTodo/add.svg);
    width: 32px;
    height: 45px;
    border: none;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
