@import './variables';

.add-todo {
  position: relative;

  @media ($large-mobile) {
    max-width: 32rem;
  }

  .text-input {
    background-color: rgba(#000, 0.1);
    height: 4.5rem;
    line-height: 4.5rem;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    width: 100%;
  }

  .add-todo-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(components/AddTodo/add.svg);
    width: 3.2rem;
    height: 4.5rem;
    border: none;
    border-radius: 3px;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
