$height: 20px;
$timer: 500ms;

* {
  box-sizing: border-box;
}

.progress-bar {
  position: relative;
  overflow: hidden;
  height: $height;
  width: 100%;
}

.bar {
  height: $height;
  position: absolute;
  transition: all $timer ease-in-out;
  box-sizing: content-box;
}

.empty {
  composes: bar;
  background-color: rgba(#000, 0.28);
  width: 100%;
}

.progress {
  composes: bar;
  background-color: #F8A46B;
}
