@import 'variables';

.action-bar {
  display: flex;
  height: 4.5rem;
  border-top: 5px solid $accent-color;
  box-shadow: 0px -4px 40px 20px rgba(#fff, 0.6);

  button {
    flex: 50%;
    border: none;
    background-color: $button-color;
    color: $button-text-color;

    &:hover {
      background-color: $button-hover-color;
    }
  }
}
